.hexframe {
    position: absolute;
    top: 195px;
    width: 100%;
}

.hex-brick {
    background: rgb(83, 141, 78);
    width: 60px;
    height: 34px;
    position: absolute;
    top: 5px;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.h2 {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.h3 {
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}

.gel {
    height: 30px;
    width: 30px;
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
    top: 50%;
    left: 50%;
}

.c1 {
    margin-left: -90px;
    margin-top: 51px;
}

.c2 {
    margin-left: -60px;
    margin-top: 0px;
}

.c3 {
    margin-left: 0px;
    margin-top: 0px;
}

.c4 {
    margin-left: 30px;
    margin-top: 51px;
}

.c5 {
    margin-left: -60px;
    margin-top: 102px;
}

.c6 {
    margin-left: 0px;
    margin-top: 102px;
}

.r1 {
    animation-name: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease-in-out;
}

.r2 {
    animation-name: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
    -webkit-animation-timing-function: ease-in-out;
}

.r3 {
    animation-name: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
    -webkit-animation-timing-function: ease-in-out;
}

.r4 {
    animation-name: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-delay: .8s;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .8s;
    -webkit-animation-timing-function: ease-in-out;
}

.r5 {
    animation-name: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-delay: 1.0s;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 1.0s;
    -webkit-animation-timing-function: ease-in-out;
}

.r6 {
    animation-name: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0s;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes fade {
    0% {
        background: rgb(83, 141, 78);
    }
    50% {
        background: rgb(177, 158, 75);
    }
    100% {
        background: rgb(83, 141, 78);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes fade {
    0% {
        background: rgb(83, 141, 78);
    }
    50% {
        background: rgb(177, 158, 75);
    }
    100% {
        background: rgb(83, 141, 78);
    }
}