.tooltip {
    display: block;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}
.on {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.off {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .3s, opacity .3s ease-in-out;
}
