:root {
    --white: #eee;
}

body {
    background-color: #111;
    color: #eee;
    font-family: "Clear Sans", "Helvetica Nue", Arial, Helvetica, sans-serif;
}

a {
    color: #7dc5db;
}

button {
    color: #ccc;
    width: 160px;

    &:hover {
        color: #fff;
        background-color: #333;
    }
}

h1 {
    display: inline-block;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 3.2px;
    margin: 0.5em auto 0 auto;
    text-align: center;
    text-transform: uppercase;
}

nav {
    border-bottom: 1px solid #ccc;
    margin: 1em auto 4em auto;
    position: relative;
    text-align: center;
    width: 600px;

    span {
        cursor: pointer;
        position: absolute;
        top: 44px;
        height: 28px;
        width: 28px;
    }

    .help-button {
        left: 0;
    }

    .share-button {
        right: 0;
    }

    .dark {
        color: #333;
    }
}

footer {
    color: #999;
    margin-top: 4em;
    text-align: center;
}

.left-col {
    display: inline-block;
    padding-top: 10em;
    text-align: center;
    width: 180px;
    vertical-align: top;
}

.right-col {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 800px;
}

.input-label {
    color: #aaa;
    font-size: 1.2em;
    margin-bottom: 0.8em;
    text-align: center;
    text-transform: uppercase;
    width: 180px;
}

.main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
}

.wordle-input {
    font-size: 1.5em;
    height: 340px;
    width: 160px;
}

.canvas-frame {
    position: relative;
    text-align: center;
}

.greybar {
    span {
        display: inline-block;
        width: 1.8em;
        height: 4.2rem;
        background-color: #080808;
        margin-right: 0.4em;
    }

    .g2 {
        width: 0.7em;
    }
    .g3 {
        width: 1.4em;
    }
    .g5 {
        width: 3em;
    }
    .g7 {
        width: 3.5em;
    }
}

.bug-button {
    color: #666;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.help {
    background-color: rgb(177, 158, 75);
    color: #333;
    font-weight: bold;
}
